@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #303133;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Oswald", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smalltext {
  font-size: 0.8rem;
}
.header {
  width: 500px;
  height: 80px;
  margin: 10px 4px 8px 4px;
  padding: 5px;
  background-color: #1d1d1f;
  position: relative;
}
.header img {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
.newItemButton {
  font-size: 0.9rem;
  width: 500px;
  min-height: 40px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #262729;
  transition: 0.3s;
  font-style: italic;
}

.textarea {
  /* margin-top: 9px; */
  width: 500px;
  height: 0px;
  background-color: #1d1d1f;
  border: 0;
  transition: 0.3s;
  color: white;
}

.listItem {
  width: 500px;
  min-height: 40px;
  margin: 4px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  background-color: #262729;
  border-bottom: 1px solid #ae2e22;
  position: relative;
  transition: 0.5s;
}

button {
  top: 7px;
  right: 3px;
  padding: 4px 7px;
  border: none;
  background-color: #262729;
  color: #ae2e22;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #1d1d1f;
  color: #ae2e22;
  transition: 0.3s;
  border-radius: 4px;
}

.listItem p {
  max-width: 450px;
  word-wrap: break-word;
}

.listItem button {
  position: absolute;
}

.listItem h4 {
  color: #d43122;
  padding-bottom: 4px;
}
.clickMe {
}

.clickMe:hover {
  color: #d43122;
  text-shadow: black 1px 0 10px;
  cursor: pointer;
}
.makeButton {
  margin: 8px;
}
